[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/cscope"]
	path = bundle/cscope
	url = git@github.com:vim-scripts/cscope.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/Authorinfo"]
	path = bundle/Authorinfo
	url = git@github.com:vim-scripts/AuthorInfo.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = git@github.com:vaudoc/vim-bufexplorer.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = git@github.com:vim-scripts/winmanager.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:vim-scripts/sensible.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:vim-scripts/vimwiki.git
